/* General Styles for Form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form {
    background-color: #a9cbec;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    color: black;
    font-size: 16px;
}

.input-field:focus {
    outline: none;
    border-color: #518FE1;
}

.submit-button {
    font-weight: 600;
    width: 100%;
    padding: 12px;
    background-color: #518FE1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;

}

.submit-button:hover {
    background-color: #357fe0;
}


.redirect-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.redirect-button {
    font-weight: 600;

    background-color: #172B4D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.redirect-button:hover {
    background-color: #172B4D;
}



.title_regis {
    font-size: 32px;
    color: #172B4D;
    font-weight: bold;
    font-family: "Charlie Text", "Inter", sans-serif;
}

.img-s {
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 510px;
    align-items: center;
    justify-content: space-between;
}

.trello-left {
    width: 400px;
    height: 400px;
}