/* General Styles for Form */
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 209vh;
}

.head {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

}

.title-login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #172B4D;
    font-weight: bold;
    font-family: "Charlie Text", "Inter", sans-serif;

}

.imgs {
    height: 32px;
    width: 32px;
}

.form {
    position: absolute;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
}

.input-field:focus {
    outline: none;
    border-color: #518FE1;
}

.submit-button {
    margin-top: 8px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}





.redirect-container {
    gap: 8px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.redirect-button {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}




.title_regis {
    font-size: 294px;
}

.img-s {
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 510px;
    align-items: center;
    justify-content: space-between;
}

.trello-left {
    width: 400px;
    height: 400px;
}